<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37368827486-bi98glj1a4u8iot6394ubm0d4epmdc15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37368827486-bi98glj1a4u8iot6394ubm0d4epmdc15</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>37368827486-arjtu9hcto4orora8dh8rlbpeghjm4o6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMxc1mZZWnvNEfIQ6q6hBLB4wmDGolpA0</string>
	<key>GCM_SENDER_ID</key>
	<string>37368827486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pawanjeswani.com.saloonwalaConsumer</string>
	<key>PROJECT_ID</key>
	<string>saloonwala-partner</string>
	<key>STORAGE_BUCKET</key>
	<string>saloonwala-partner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37368827486:ios:e8e89cd882081049652ecf</string>
	<key>DATABASE_URL</key>
	<string>https://saloonwala-partner.firebaseio.com</string>
</dict>
</plist>